@model BTLLTQL.Models.LoaiSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/KhachHang/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoaiSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenLoaiSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
